apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gcs-fuse-csi-static-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: empty-storage-class
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gcs-fuse-csi-pv
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 5Gi
  storageClassName: empty-storage-class
  mountOptions:
    - implicit-dirs
    - file-cache:max-size-mb:-1
    - file-cache:enable-parallel-downloads:true
    - file-cache:parallel-downloads-per-file:150
    - file-cache:max-parallel-downloads:-1
    - file-cache:download-chunk-size-mb:16
  csi:
    driver: gcsfuse.csi.storage.gke.io
    volumeAttributes:
      fileCacheCapacity: "-1"
    volumeHandle: {{gcs_bucket}}
  claimRef:
    name: gcs-fuse-csi-static-pvc
    namespace: default
