apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: s3-csi-static-pvc
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1200Gi
  storageClassName: ""
  volumeName: s3-csi-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: s3-csi-pv
spec:
  accessModes:
    - ReadOnlyMany
  capacity:
    storage: 1200Gi
  storageClassName: ""
  mountOptions:
    - allow-other
    - region {{ s3_region }}
  csi:
    driver: s3.csi.aws.com
    volumeAttributes:
      bucketName: {{ s3_bucket }}
    volumeHandle: s3-csi-volume-handle
  claimRef:
    name: s3-csi-static-pvc
    namespace: default
