apiVersion: v1
kind: PersistentVolume
metadata:
  name: s3-csi-pv
spec:
  accessModes:
    - ReadOnlyMany
  capacity:
    # S3 does not enforce capacity limits and does not charge based on this
    # value. The field is required by the Kubernetes API but ignored by the
    # S3 CSI driver. Set to any value; it has no effect on cost or usage.
    storage: 1Ti
  storageClassName: ""
  mountOptions:
    - allow-other
    - region {{ s3_region }}
  csi:
    driver: s3.csi.aws.com
    volumeAttributes:
      bucketName: {{ s3_bucket }}
    volumeHandle: s3-csi-volume-handle
  claimRef:
    name: s3-csi-static-pvc
    namespace: default
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: s3-csi-static-pvc
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: ""
  volumeName: s3-csi-pv
