{% if k8s_namespace and k8s_namespace != 'default' -%}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/managed-by: pkb

---
{%- endif %}

apiVersion: v1
kind: Service
metadata:
  {% if k8s_namespace -%}
  namespace: {{ k8s_namespace }}
  {%- endif %}
  name: redis
  labels:
    app.kubernetes.io/managed-by: pkb
    app: redis
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
  - name: redis
    port: {{ redis_port }}

---

apiVersion: v1
kind: ConfigMap
metadata:
  {% if k8s_namespace -%}
  namespace: {{ k8s_namespace }}
  {%- endif %}
  labels:
    app.kubernetes.io/managed-by: pkb
  name: redis-config
data:
  redis.conf:  |+
    protected-mode no
    dir /data
    {%- for (k, v) in redis_parameters.items() if v is not none %}
    {{ k }} {{ v }}
    {%- endfor %}

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  {% if k8s_namespace -%}
  namespace: {{ k8s_namespace }}
  {%- endif %}
  labels:
    app.kubernetes.io/managed-by: pkb
  name: redis
spec:
  serviceName: "redis"
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app.kubernetes.io/managed-by: pkb
        app: redis
    spec:
      tolerations:
      - key: "kubernetes.io/arch"
        operator: "Equal"
        value: "arm64"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: pkb_nodepool
                operator: In
                values:
                - servers
      containers:
      - name: redis
        image: redis:{{ redis_version }}
        command:
          - "redis-server"
        args:
          - "/conf/redis.conf"
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi"
        ports:
            - name: redis
              containerPort: {{ redis_port }}
              protocol: "TCP"
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - "redis-cli ping | grep PONG"
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: conf
          mountPath: /conf
      volumes:
      - name: conf
        configMap:
          name: redis-config
