repos:
  - repo: https://github.com/google/pyink
    rev: 24.10.1
    hooks:
      - id: pyink
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.12
        args: [--pyink-indentation=2, --pyink-use-majority-quotes, --unstable, --line-length=80]
