CREATE DATABASE IF NOT EXISTS {{ database_name }};
CREATE USER IF NOT EXISTS '{{ database_name }}'@'%' IDENTIFIED BY '{{ password }}';
GRANT ALL ON {{ database_name }}.* TO '{{ database_name }}'@'%';
