CREATE USER IF NOT EXISTS 'root'@'%' IDENTIFIED BY '{{ password }}';
GRANT ALL ON *.* TO 'root'@'%' WITH GRANT OPTION;

CREATE USER IF NOT EXISTS 'repl'@'%' IDENTIFIED BY '{{ password }}';
GRANT REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO 'repl'@'%';
