# All anchors defined in this file should be compatible
# with *all* clouds. That means any vm_specs or disk_specs
# defined here should have keys for every cloud.
default_single_core: &default_single_core
  GCP:
    machine_type: n1-standard-1
    zone: us-central1-a
    image: null
  Azure:
    machine_type: Standard_A1
    zone: eastus2
    image: null
  AWS:
    machine_type: m3.medium
    zone: us-east-1
    image: null
  AliCloud:
    machine_type: ecs.s2.large
    zone: us-west-1a
    image: null
  DigitalOcean:
    machine_type: 2gb
    zone: sfo1
    image: null
  OpenStack:
    machine_type: m1.small
    zone: nova
    image: null
  CloudStack:
    machine_type: 1vCPU.1GB
    zone: QC-1
    image: null
  Rackspace:
    machine_type: general1-1
    zone: IAD
    image: null
  Kubernetes:
    image: null
  Mesos:
    image: null
  ProfitBricks:
    machine_type: Small
    zone: ZONE_1
    image: null


# TODO(nlavine): update the disk types below as more providers are
# updated for the disk types refactor.
default_500_gb: &default_500_gb
  GCP:
    disk_type: pd-standard
    disk_size: 500
    mount_point: /scratch
  Azure:
    disk_type: Standard_LRS
    disk_size: 500
    mount_point: /scratch
  AWS:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch
  AliCloud:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch
  DigitalOcean:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch
  OpenStack:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch
  CloudStack:
    disk_size: 500
    mount_point: /scratch
  Rackspace:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch
  Kubernetes:
    disk_type: emptyDir
    disk_size: 500
    mount_point: /scratch
  Mesos:
    disk_type: local
    disk_size: 500
    mount_point: /scratch
  ProfitBricks:
    disk_type: standard
    disk_size: 500
    mount_point: /scratch


# TODO(nlavine): update the disk types below as more providers are
# updated for the disk types refactor.
default_50_gb: &default_50_gb
  GCP:
    disk_type: pd-standard
    disk_size: 50
    mount_point: /scratch
  Azure:
    disk_type: Standard_LRS
    disk_size: 50
    mount_point: /scratch
  AWS:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
  AliCloud:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
  DigitalOcean:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
  OpenStack:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
  CloudStack:
    disk_size: 50
    mount_point: /scratch
  Rackspace:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
  Kubernetes:
    disk_type: emptyDir
    disk_size: 50
    mount_point: /scratch
  Mesos:
    disk_type: local
    disk_size: 50
    mount_point: /scratch
  ProfitBricks:
    disk_type: standard
    disk_size: 50
    mount_point: /scratch
