<settings>
  <mirrors>
    <mirror>
      <id>pkb-mirror</id>
      <mirrorOf>*</mirrorOf>
      <name>PKB mirror</name>
      <url>{{ maven_mirror_url }}</url>
    </mirror>
  </mirrors>
</settings>

