<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!-- Put site-specific property overrides in this file. -->
<configuration>
    <property>
        <name>dfs.namenode.datanode.registration.ip-hostname-check</name>
        <value>false</value>
    </property>
  <property>
    <name>dfs.blocksize</name>
    <value>{{ block_size }}</value>
  </property>
  {% if dfs_data_paths is defined %}
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>{{ dfs_data_paths }}</value>
  </property>
  {% endif %}
  <!-- TODO(pclay): consider dfs.client.read.shortcircuit (requires native libs) -->
  <!-- https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-hdfs/ShortCircuitLocalReads.html -->
</configuration>
