#==================================================================================================
#
#  Configfile file for the Blaze library
#
#  Copyright (C) 2013 Klaus Iglberger - All Rights Reserved
#
#  This file is part of the Blaze library. You can redistribute it and/or modify it under
#  the terms of the New (Revised) BSD License. Redistribution and use in source and binary
#  forms, with or without modification, are permitted provided that the following conditions
#  are met:
#
#  1. Redistributions of source code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Redistributions in binary form must reproduce the above copyright notice, this list
#     of conditions and the following disclaimer in the documentation and/or other materials
#     provided with the distribution.
#  3. Neither the names of the Blaze development group nor the names of its contributors
#     may be used to endorse or promote products derived from this software without specific
#     prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
#  EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
#  OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
#  SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
#  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
#  TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
#  BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
#  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
#  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
#  DAMAGE.
#
#==================================================================================================

# Version of the Blaze library:
#   debug  : Debug version
#   release: Release version (default)
VERSION="release"

# Compiler selection
# This switch specifies the compiler that is used to compile the Blaze library. The default
# compiler is the GNU C++ compiler (g++). Other possible options are for instance the Intel
# C++ compiler (icpc), or the Clang compiler (clang).
CXX="{{ compiler }}"

# Compiler flags
# This setting specifies the compilation flags used to build the Blaze library. Depending
# on the selected compiler it is recommended to use at least the following selection of
# compilation flags:
#   g++/clang: -Werror -Wall -Wextra -Wshadow -Woverloaded-virtual -ansi -O3 -DNDEBUG
#   icpc     : -Werror -Wshadow -w1 -ansi -O3 -DNDEBUG
# Please note that in case the 'g++-4.8' compiler is used the flag '-Wno-local-typedefs'
# is required to suppress warnings about unused local type definitions. In addition to
# these general flags, it is possible to specify additional architecture specific flags.
# In order to achieve maximum performance, it is recommended to specify the available
# architecture specific instruction set (for instance, -mavx for the GNU C++ compiler to
# active the AVX instruction set). Also, it is recommended to enable one of the shared
# memory parallelizations (OpenMP, C++11 threads, or Boost threads). Please consult the
# Blaze tutorial for the specifics.
CXXFLAGS="-Werror -Wall -Wextra -Wshadow -Woverloaded-virtual -ansi -O3 -DNDEBUG {{ compile_flags }}"

# Library configuration
# This selection configures which libraries are created during the compilation process.
# Note that in case both the static and shared library are built the static library also
# consists of position-independent code. Note also that any change of this setting may
# require a clean up via 'make clean'.
#   static: Only create the static Blaze library (default)
#   shared: Only create the shared Blaze library
#   both  : Create both static and shared library
LIBRARY="static"

# Library settings (optional)
# In case the shared Blaze library is built, on some systems it can be necessary to
# specify additional library paths and add additional libraries. This can be done via
# this setting.
LIBRARY_DIRECTIVES=

# Configuration of the boost library
# The boost library (see www.boost.org) is precondition for the Blaze library, i.e., it
# is not possible to compile the library without boost. Blaze requires you to have at
# least the boost version 1.54.0 or higher installed on your system. In case the boost
# include directory is not set, it is assumed that the boost headers are installed in
# standard paths (as for instance '/usr/include/boost'). Additionally, in case a shared
# Blaze library is built it is necessary to specify the boost library path and the name
# of the boost system and thread libraries (as for instance 'boost_thread-mt'). In case
# the library path is not specified, it is assumed that the libraries are installed in
# standard paths (for example '/usr/lib/' or '/usr/lib64/'). If the name of a library is
# not specified, it is assumed that the library has a default name ('libboost_system.*'
# and 'libboost_thread.*', respectively).
BOOST_INCLUDE_PATH=
BOOST_LIBRARY_PATH=
BOOST_SYSTEM_LIBRARY=
BOOST_THREAD_LIBRARY=
