apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-upstream-deployment
spec:
  replicas: {{ nginx_upstream_replicas }}
  selector:
    matchLabels:
      app: nginx-upstream
  template:
    metadata:
      labels:
        app: nginx-upstream
    spec:
      {% if runtime_class_name %}
      runtimeClassName: {{ runtime_class_name }}
      {% endif %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: pkb_nodepool
                operator: In
                values:
                - upstream
      initContainers:
      - name: setup-random-content
        image: busybox:1.35
        command: ['sh', '-c']
        args:
        - |
          dd bs=1 count={{ nginx_content_size }} if=/dev/urandom of=/usr/share/nginx/html/random_content
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html
      - name: setup-ssl
        image: {{ nginx_image }}
        command: ['/bin/bash', '-c']
        args:
        - |
          mkdir -p /etc/nginx/ssl
          openssl req -x509 -nodes -newkey ec:<(openssl ecparam -name secp384r1) -keyout /etc/nginx/ssl/ecdsa.key -out /etc/nginx/ssl/ecdsa.crt -days 365 -subj "/CN=$HOSTNAME"
        volumeMounts:
        - name: ssl-volume
          mountPath: /etc/nginx/ssl
      containers:
      - name: nginx-upstream
        image: {{ nginx_image }}
        ports:
        - containerPort: {{ nginx_port }}
        volumeMounts:
        - name: config-volume
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx-upstream.conf
        - name: html-volume
          mountPath: /usr/share/nginx/html
        - name: ssl-volume
          mountPath: /etc/nginx/ssl
      volumes:
      - name: ssl-volume
        emptyDir: {}
      - name: config-volume
        configMap:
          name: nginx-configs
      - name: html-volume
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-upstream
spec:
  type: ClusterIP
  ports:
  - port: {{ nginx_port }}
    targetPort: {{ nginx_port }}
  selector:
    app: nginx-upstream
