#!/bin/bash
# *Run on the HDFS namenode.*
#
# Prepares previously unused HDFS for use with HBase.
# Formats the namenode, starts HDFS, and creates a /hbase directory.
#
# Prior to running:
# * Passwordless SSH must be enabled from the namenode to all
#   data nodes.
# * Data nodes must be listed in HADOOP_CONF_DIR/slaves.

set -o errexit
set -o nounset
set -o pipefail
set -x

readonly HADOOP_DIR="{{ hadoop_dir }}"

if [[ -z "$HADOOP_DIR" ]]; then
  >&2 echo "No hadoop dir?"
  exit 1
fi

pushd $HADOOP_DIR

# Format the namenode
/usr/bin/yes | bin/hdfs namenode -format || true  # This returns non-zero; not sure why

# Start HDFS
sbin/start-dfs.sh

# Prepare HBase
bin/hdfs dfs -mkdir /hbase
bin/hdfs dfs -ls /hbase
