{# INSERT INTO statements are not subject to any quota (unlike LOAD DATA). But
they require declaring an external table (which is cheap because BQ doesn't try
to cache anything unless it's explicitly instructed to do so). #}

CREATE EXTERNAL TABLE tmpload_{{table_name}}_{{random_id}}
OPTIONS (
  format ="CSV",
  uris = ['{{ storage_path }}/*.csv']
);
INSERT INTO {{table_name}}
SELECT * FROM tmpload_{{table_name}}_{{random_id}};
DROP TABLE tmpload_{{table_name}}_{{random_id}};
