<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!-- Put site-specific property overrides in this file. -->
<configuration>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>{{ scratch_dir }}</value>
    </property>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://{{ master_ip }}/</value>
    </property>
</configuration>
