apiVersion: v1
kind: Namespace
metadata:
  name: {{name}}
---
apiVersion: v1
kind: Deployment
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: {{name}}
        image: registry.k8s.io/e2e-test-images/agnhost:2.52
        command:
          {%- for c in command %}
          {{ c }}
          {%- endfor %}
