CREATE USER repl WITH REPLICATION ENCRYPTED PASSWORD '{{ repl_user_password }}';

CREATE USER sysbench WITH LOGIN ENCRYPTED PASSWORD '{{ sysbench_user_password }}';
CREATE DATABASE sysbench WITH OWNER=sysbench;
CREATE DATABASE sysbencht WITH OWNER=sysbench;
\c postgres
CREATE EXTENSION pg_stat_statements;
\c sysbench
CREATE EXTENSION pg_stat_statements;
\c sysbencht
CREATE EXTENSION pg_stat_statements;
SELECT pg_create_physical_replication_slot('slot0');
SELECT pg_create_physical_replication_slot('slot1');
CREATE USER pmmuser WITH SUPERUSER ENCRYPTED PASSWORD '{{ pmm_user_password }}';
