# nodepool-azure.yaml.j2
# Configures the Azure Node Auto Provisioner (Karpenter) to provision nodes
# for pods that request a 'group' label matching the 'pool-{{ batch }}-{{ id }}' pattern.
apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: {{ name | default('default') }}
spec:
  template:
    metadata:
      labels:
        pkb_nodepool: {{ name | default('default') }}
    spec:
      # Define the rules for provisioning.
      requirements:
        - key: "group"
          operator: In
          values:
          {% for i in range(1, job_count + 1) %}
          - pool-{{ batch }}-{{ "%03d" | format(i) }}
          {% endfor %}
