apiVersion: karpenter.azure.com/v1beta1
kind: AKSNodeClass
metadata:
  name: aks-managed-class
spec:
  imageFamily: "Ubuntu2204"
---
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: batch-processing
spec:
  disruption:
    budgets:
    - nodes: 30%
    consolidateAfter: 0s
    consolidationPolicy: WhenEmptyOrUnderutilized
  template:
    spec:
      nodeClassRef:
        group: karpenter.azure.com
        kind: AKSNodeClass
        name: aks-managed-class
      requirements:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
        - key: karpenter.sh/capacity-type
          operator: In
          values:
          - on-demand
        - key: karpenter.azure.com/sku-family
          operator: In
          values:
          - D
        - key: "group"
          operator: In
          values:
          {% for i in range(1, job_count + 1) %}
          - pool-{{ batch }}-{{ "%03d" | format(i) }}
          {% endfor %}
