apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: {{ cluster_name }}
  namespace: clickhouse
spec:
  configuration:
    files:
      users.d/{{ user }}.xml: |
        <clickhouse>
          <users>
            <{{ user }} replace="1">
              <password_sha256_hex>{{ password_sha256_hex }}</password_sha256_hex>
              <profile>default</profile>
              <networks>
                <ip>0.0.0.0/0</ip>
                <ip>::/0</ip>
              </networks>
            </{{ user }}>
          </users>
        </clickhouse>
    zookeeper:
      keeper:
        name: keeper-cluster
        namespace: clickhouse
    clusters:
      - name: {{ cluster_name }}
        layout:
          shardsCount: {{ num_shards }}
          replicasCount: {{ num_replicas }}
  defaults:
    templates:
      podTemplate: clickhouse-pod-template
  templates:
    podTemplates:
      - name: clickhouse-pod-template
        spec:
          containers:
            - name: clickhouse
              image: clickhouse/clickhouse-server:24.10
              resources:
                limits:
                  memory: {{ memory }}G
