<configuration>
  <property>
    <name>google.bigtable.endpoint.host</name>
    <value>{{ google_bigtable_endpoint }}</value>
  </property>
  <property>
    <name>google.bigtable.admin.endpoint.host</name>
    <value>{{ google_bigtable_admin_endpoint }}</value>
  </property>
  <property>
    <name>hbase.client.connection.impl</name>
    <value>com.google.cloud.bigtable.hbase{{ hbase_version }}.BigtableConnection</value>
  </property>
  <property>
    <name>google.bigtable.project.id</name>
    <value>{{ project }}</value>
  </property>
  <property>
    <name>google.bigtable.instance.id</name>
    <value>{{ instance }}</value>
  </property>
</configuration>
