<configuration>
  <property>
    <name>google.bigtable.endpoint.host</name>
    <value>{{ google_bigtable_endpoint }}</value>
  </property>
  <property>
    <name>google.bigtable.admin.endpoint.host</name>
    <value>{{ google_bigtable_admin_endpoint }}</value>
  </property>
  <property>
    <name>hbase.client.connection.impl</name>
    <value>com.google.cloud.bigtable.hbase{{ hbase_major_version }}_x.BigtableConnection</value>
  </property>
  <property>
    <name>hbase.client.async.connection.impl</name>
    <value>org.apache.hadoop.hbase.client.BigtableAsyncConnection</value>
  </property>
  <property>
    <name>hbase.client.registry.impl</name>
    <value>org.apache.hadoop.hbase.client.BigtableAsyncRegistry</value>
  </property>
  <property>
    <name>google.bigtable.project.id</name>
    <value>{{ project }}</value>
  </property>
  <property>
    <name>google.bigtable.instance.id</name>
    <value>{{ instance }}</value>
  </property>
  <property>
    <name>google.bigtable.custom.user.agent</name>
    <value>PKB</value>
  </property>
</configuration>
