# Pipeline configuration. Choose components to be engaged. The order below is the priority order that needs to be followed.
logging:
{% if log_trace %}
  type: base
  level: log_debug
  file-path: /tmp/logs/blobfuse2.log
{% else %}
  level: log_warning
{% endif %}

components:
  - libfuse
  - attr_cache
  - block_cache
  - azstorage

libfuse:
  # Bypasses the Linux Kernel Page Cache.
  # Without this, subsequent reads will be from RAM.
  direct-io: true
  attribute-expiration-sec: 60
  entry-expiration-sec: 60
  negative-entry-expiration-sec: 0
  disable-writeback-cache: true
  ignore-open-flags: true
  max-fuse-threads: 512     # Boosted to handle massive parallel worker queues
{% if log_trace %}
  fuse-trace: true
{% endif %}

block_cache:
  block-size-mb: 16         # Kept tight to prevent multi-node initialization locks
  mem-size-mb: 524288
  prefetch: 16
  parallelism: 32

attr_cache:
  timeout-sec: 60

# Azure storage configuration
azstorage:
  type: block
  mode: key
  account-name: {{ account_name }}
  account-key: {{ account_key }}
{% if log_trace %}
  sdk-trace: true
{% endif %}
