# Pipeline configuration. Choose components to be engaged. The order below is the priority order that needs to be followed.
# https://github.com/Azure/azure-storage-fuse/wiki/Blobfuse2%E2%80%90Config-Guide
# https://github.com/Azure/azure-storage-fuse/wiki/Blobfuse2%E2%80%90Cli%E2%80%90Parameters
logging:
  type: base
  file-path: /tmp/logs/blobfuse2.log
{% if log_trace %}
  level: log_debug
{% else %}
  level: log_err
{% endif %}

components:
  - libfuse
  - block_cache
  - attr_cache
  - azstorage

libfuse:
  attribute-expiration-sec: 120
  entry-expiration-sec: 120
  negative-entry-expiration-sec: 240
  ignore-open-flags: true
{% if log_trace %}
  fuse-trace: true
{% endif %}

block_cache:
  block-size-mb: 64
  mem-size-mb: 524288
  prefetch-on-open: true
  prefetch: 16
  parallelism: 128


attr_cache:
  timeout-sec: 7200

# Azure storage configuration
azstorage:
  type: block
  mode: key
  account-name: {{ account_name }}
  account-key: {{ account_key }}
{% if log_trace %}
  sdk-trace: true
{% endif %}
